body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mtech-logo {
    display: inline-block;
    height: 66px;
    margin-top: 5px;
    margin-left: 5px;
}

.title {
    text-align: center;
    font-size: 40px;
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    color: #77001e;
    border-bottom: solid 2px black;
}